@import "tailwindcss";



* {
    
    box-sizing: border-box;
    scroll-behavior: smooth;
}




@theme {
    --color-primary: #2776d3;
    --color-secondry: #fec200;
}


@layer utilities {
  .text-secondry {
    color: #fec200;
  }
}